<!-- <div class="container-conseil">
  <div class="text-block-4 text-center">
    <p>Un conseil ? 06-69-21-67-40- Lundi / Vendredi de 7h30 à 19h30</p></div>
  </div>
  <div class="topnav">
  <div class="navbar-liens">
    <%= link_to "/", class: "logo-home" do %>
    <%= image_tag "logo-max.png", alt: "logo" %>
    <% end %>
    <a class="liens" href="#society">La société</a>
    <a class="liens"><%= link_to "Les produits", products_path%></a>
    <a class="liens"><%= link_to "Demande de devis", ""%></a>
    <a class="liens"><%= link_to "Contact", ""%></a>
    <a class="liens"><%= link_to "Panier", cart_path%></a>
    <a><%= link_to "Login", new_user_session_path%></a>
  </div>
</div> -->


<div class="container-conseil">
  <div class="text-block-4 text-center">
    <p><strong>Un conseil ? 06-69-21-67-40- Lundi / Vendredi de 7h30 à 19h30</strong></p>
  </div>
</div>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a href="/"><%= image_tag "logo1.jpg", alt: "logo" %></a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a href="/#society">La société</a>
    <!-- <a href="/products">Produits</a> -->
    <a class="dropdown-toggle" href="#"  id="deroulanta" data-toggle="dropdown">Nos produits</a>
          <div class="dropdown-menu" aria-labelledby="deroulanta">
            <a class="dropdown-item" href="">Pliage</a>
            <a class="dropdown-item" href=""> Evacuation des eaux pluviales</a>
            <a class="dropdown-item" href="">Crapaudine / Pare gravier</a>
            <a class="dropdown-item" href="">Ventilation</a>
            <a class="dropdown-item" href="">Crosse / Boite à cable</a>
            <a class="dropdown-item" href="">Boite à eau, tuyau de descente</a>
            <a class="dropdown-item" href="">Gouttiere</a>
            <a class="dropdown-item" href="">Produits spécifique / Ornement de toiture</a>
            <a class="dropdown-item" href="">Autre</a>
          </div>
    <a href="/#devis">Demande de devis</a>
    <a href="/#contact">Contact</a>
    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
  </div>
</div>
  <!-- <div class="nav-links">
      <a href="#society">La société</a>
      <a><%= link_to "Nos produits", products_path%></a>
      <a class="dropdown-toggle" href="#"  id="deroulanta" data-toggle="dropdown">Nos produits</a>
            <div class="dropdown-menu" aria-labelledby="deroulanta">
              <a class="dropdown-item" href="product_categories/282">Pliage</a>
              <a class="dropdown-item" href="product_categories/283"> Evacuation des eaux pluviales</a>
              <a class="dropdown-item" href="product_categories/284">Crapaudine / Pare gravier</a>
              <a class="dropdown-item" href="product_categories/285">Ventilation</a>
              <a class="dropdown-item" href="product_categories/286">Crosse / Boite à cable</a>
              <a class="dropdown-item" href="product_categories/287">Boite à eau, tuyau de descente</a>
              <a class="dropdown-item" href="product_categories/288">Gouttiere</a>
              <a class="dropdown-item" href="product_categories/289">Produits spécifique / Ornement de toiture</a>
              <a class="dropdown-item" href="product_categories/290">Autre</a>
            </div>
      <a><%= link_to "Demande de devis", ""%></a>
      <a><%= link_to "Contact", ""%></a>
      <a class="fas fa-shopping-cart"><%= link_to "Panier", cart_path%></a>
    </div>
</div> -->
