<!-- <div class="container-conseil">
  <div class="text-block-4 text-center">
    <p>Un conseil ? 06-69-21-67-40- Lundi / Vendredi de 7h30 à 19h30</p></div>
  </div>
  <div class="topnav">
  <div class="navbar-liens">
    <%= link_to "/", class: "logo-home" do %>
    <%= image_tag "logo-max.png", alt: "logo" %>
    <% end %>
    <a class="liens" href="#society">La société</a>
    <a class="liens"><%= link_to "Les produits", products_path%></a>
    <a class="liens"><%= link_to "Demande de devis", ""%></a>
    <a class="liens"><%= link_to "Contact", ""%></a>
    <a class="liens"><%= link_to "Panier", cart_path%></a>
    <a><%= link_to "Login", new_user_session_path%></a>
  </div>
</div> -->


<div class="container-conseil">
  <div class="text-block-4 text-center">
    <p>Un conseil ? 06-69-21-67-40- Lundi / Vendredi de 7h30 à 19h30</p>
  </div>
</div>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <!-- EpConcept -->
      <a href="/">EpConcept</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a href="#society">La société</a>
    <!-- <a><%= link_to "Les produits", products_path%></a> -->
    <a href="products">Les produits</a>
   <!--  <a><%= link_to "Demande de devis", ""%></a> -->
    <a href="#">Demande de devis</a>
    <!-- <a><%= link_to "Contact", ""%></a> -->
    <a href="#">Contact</a>
    <!-- <a class="liens fab fa-facebook-f"><%= link_to "Panier", cart_path%></a> -->
    <a href="cart"><i class="fas fa-shopping-cart"></i></a>
  </div>
</div>

<a class="dropdown-toggle" href="#"  id="deroulanta" data-toggle="dropdown">Nos produits</a>
      <div class="dropdown-menu" aria-labelledby="deroulanta">
        <% @product_categories.each do |product_categories| %>
        <a class="dropdown-item" href="#"><%=product_categories.name%></a>
      <% end %>
      </div>
