<div class="section">
  <div class="sky">
    <%= image_tag "max.jpg", alt: "logo" %>
  </div>
  <div class="container-3">
    <h1 class="heading">Accessoires de couverture et étanchéité sur mesure</h1>
  </div>
</div>
<div class="container-main">
  <div class="container">
    <h1><strong>Nos gammes de produits</strong></h1>
  </div>
  <div class="container-index container-index-img">
    <div class="cards-index">
      <% @product_categories.each do |product_categories| %>
        <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path product_categories.photo.key %>)">
          <h4><%=product_categories.name%></h4>
            <div class="button">
              <h4 class="one"><%= link_to "Acceder aux produits", product_category_path(product_categories.id)%></h4>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container" id="society">
    <div class="container-societe">
    <h1><strong>Premier réseau de partenaires locaux et nationaux, dans la fabrication et conception de produit de COUVERTURE et d’ETANCHEITE</strong>.</h1>
    </div>
      <a id="logo" href="/"><%= image_tag "logo1.jpg", alt: "logo" %></a>
      <div class="container-home">
        <div class="div-block-10">
          <h2><strong>Nous vous proposons des produits sur mesure de qualité :</strong></h2>
            <ul class="container">
              <p>PLIAGE</p>
              <p>EVACUATION DES EAUX PLUVIALES</p>
              <p>CRAPAUDINE / PARE GRAVIER</p>
              <p>VENTILATION</p>
              <p>CROSSE / BOITE A CABLE</p>
              <p>BOITE A EAU / TUYAU DE DESCENTE</p>
              <p>GOUTTIERE</p>
              <p>PRODUITS SPECIFIQUE.</p>
            </ul>
        </div>
        <div class="div-block-10">
          <h2><strong>Nous pouvons vous répondre avec différentes matières :</strong></h2>
            <ul class="container">
              <p>ALU</p>
              <p>GALVA</p>
              <p>ZINC</p>
              <p>PLOMB</p>
              <p>CUIVRE</p>
            </ul>
        </div>
      </div>
      <div class="container-societe" id="devis">
        <h1><strong>Un outil de demande de prix en ligne : « Intuitif, Facile d’utilisation, Efficace, rapide.»</strong>.</h1>
      </div>
      <div class="container">
        <div class="schema">
        <%= image_tag "shema.png", alt: "logo" %>
        </div>
        <h2>Envoyer vos demandes de prix facilement avec l’outil de devis en ligne « EP CONNECT ».</h2>
              <h2><i>Sur chantier avec votre smartphone</i></h2>
              <h2><i>Au bureau avec votre PC</i></h2>
      </div>
      <div class="div-block-11">
        <h1><strong>Des partenaires à PROXIMITE de vos chantiers, vous apportant REACTIVITE et QUALITE</strong>.</h1>
          <ul class="container">
            <h2><i><strong>DEPANNAGE</strong></i></h2>
            <p>Il vous manque un produit sur chantier Vous êtes loin de votre dépôt, dans un autre département, une autre région.</p>
            <h2><i><strong>STOCK</strong></i></h2>
            <p>Vous êtes dans votre dépôt, vous souhaitez refaire votre stock pour anticiper les chantiers à venir.</p>
            <h2><i><strong>CHANTIER</strong></i></h2>
            <p>Vous avez un chantier à venir, vous souhaitez prévoir une livraison à votre dépôt ou sur chantier.</p>
          </ul>
        <h1><strong>Faire Appel à nous c’est </strong>:</h1>
          <ul class="container">
            <p>Limiter les coûts de transport grâce nos partenaires de <strong>PROXIMITE</strong>.</p>
            <p>Optimiser le délai de fabrication et de livraison grâce à notre <strong>REACTIVITE</strong>.</p>
            <p>Répondre à vos demandes dans les meilleurs délais avec des produits de <strong>QUALITE</strong>.</p>
          </ul>
        </div>
      <div class="container-societe">
        <h1><strong>Nous garantissons des délais de fabrication et livraison rapide grâce à notre réseau de partenaire locaux, Régionaux et Nationaux</strong>.</h1>
      </div>
  </div>
   <div class="container logo">
    <div id="image">
      <%= image_tag "carte.jpg", alt: "logo" %>
      <div>
         <p>Des partenaires nationaux et locaux</p>
      </div>
    </div>
    <div id="image">
      <%= image_tag "qualite.jpg", alt: "logo" %>
      <div>
         <p>Produit de qualité, respect des normes</p>
      </div>
    </div>
    <div id="image">
      <%= image_tag "mesure", alt: "logo" %>
      <div>
         <p>Fabrication sur mesure</p>
      </div>
    </div>
   </div>


  <!-- <div class="section-4 devis-explication">
    <div class="div-block-7"></div>
  </div>
  <div class="section-4">
    <div class="div-block-8">
      <div class="div-block-10"></div>
    </div>
    <div class="div-block-11" id="society">
      <%= image_tag "logo-france.jpg", alt: "logo" %>
      <%= image_tag "carte.jpg", alt: "logo" %>
      <%= image_tag "mesure.jpg", alt: "logo" %>
      <%= image_tag "qualite.jpg", alt: "logo" %>
  </div>
  <div class="section-4">
    <div class="div-block-8 resume" >
      <div class="text-block-5 description-ep">Note: Réseau de partenaire locaux et nationaux.<br>‍<br>Réactivité, Qualité<br>‍<br>Envoyer vos demande de prix facilement<br>‍<br>Sur chantier avec votre smartphone<br>‍<br>Au bureau avec votre PC<br>‍<br>Par téléphone<br>‍<br>Par mail<br>‍<br>Demande de devis intuitif, Facile d&#x27;utilisation et rapide<br>‍<br>Demande de prix rapide et facile, pour pouvoir répondre à vos appels d&#x27;offre dans les meilleurs délai. Et anticiper vos commandes<br>‍<br>Délai de fabrication et livraison rapide grâce au réseau de partenaire locaux et nationaux</div>
    </div>
  </div> -->

</div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5fd63f7bbb814e437b40f0ad" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


