<div class="section">
  <div class="sky">
    <%= image_tag "max.jpg", alt: "logo" %>
  </div>
  <div class="container-3">
    <h1 class="heading">Accessoires de couverture et étanchéité sur mesure</h1>
  </div>
</div>
<div class="container-main">
  <div class="container">
    <!-- <div class="container">
      <h1><strong>NOS GAMMES DE PRODUITS</strong></h1>
    </div> -->
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Nos gammes de produits</h1>
    </div>
    <div class="container-index container-index-img">
      <div class="cards-index">
        <% @product_categories.each do |product_categories| %>
          <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path product_categories.photo.key %>)">
            <h4><%=product_categories.name%></h4>
              <div class="button">
                <h4 class="one"><%= link_to "Acceder aux produits", product_category_path(product_categories.id)%></h4>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container" id="society">
      <div class="container-societe">
        <h1><strong>Premier réseau de partenaires locaux et nationaux, dans la fabrication et conception de produit de COUVERTURE et d’ETANCHEITE</strong>.</h1>
      </div>
        <a id="logo" href="/"><%= image_tag "logo1.jpg", alt: "logo" %></a>
        <!-- <div class="container-home">
          <div class="div-block-10">
            <h2><strong>Nous vous proposons des produits sur mesure de qualité :</strong></h2>
              <ul class="container">
                <p><strong><i>PLIAGE</i></strong></p>
                <p><strong><i>EVACUATION DES EAUX PLUVIALES</i></strong></p>
                <p><strong><i>CRAPAUDINE / PARE GRAVIER</i></strong></p>
                <p><strong><i>VENTILATION</i></strong></p>
                <p><strong><i>CROSSE / BOITE A CABLE</i></strong></p>
                <p><strong><i>BOITE A EAU / TUYAU DE DESCENTE</i></strong></p>
                <p><strong><i>GOUTTIERE</i></strong></p>
                <p><strong><i>PRODUITS SPECIFIQUE.</i></strong></p>
              </ul>
          </div>
          <div class="div-block-10">
            <h2><strong>Nous pouvons vous répondre avec différentes matières :</strong></h2>
              <ul class="container">
                <p><strong>ALU</strong></p>
                <p><strong>GALVA</strong></p>
                <p><strong>ZINC</strong></p>
                <p><strong>PLOMB</strong></p>
                <p><strong>CUIVRE</strong></p>
              </ul>
          </div>
        </div> -->
    </div>

    <div class="container py-4">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
          <h2><strong>Nous vous proposons des produits sur mesure de qualité :</strong></h2>
            <p><strong><i>PLIAGE</i></strong></p>
            <p><strong><i>EVACUATION DES EAUX PLUVIALES</i></strong></p>
            <p><strong><i>CRAPAUDINE / PARE GRAVIER</i></strong></p>
            <p><strong><i>VENTILATION</i></strong></p>
            <p><strong><i>CROSSE / BOITE A CABLE</i></strong></p>
            <p><strong><i>BOITE A EAU / TUYAU DE DESCENTE</i></strong></p>
            <p><strong><i>GOUTTIERE</i></strong></p>
            <p><strong><i>PRODUITS SPECIFIQUE.</i></strong></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
          <h2><strong>Nous pouvons vous répondre avec différentes matières :</strong></h2>
            <p><strong>ALU</strong></p>
            <p><strong>GALVA</strong></p>
            <p><strong>ZINC</strong></p>
            <p><strong>PLOMB</strong></p>
            <p><strong>CUIVRE</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-societe" id="devis">
      <h2><strong>Un outil de demande de prix en ligne : « Intuitif, Facile d’utilisation, Efficace, rapide.»</strong>.</h2>
    </div>
    <div class="container">
      <div class="schema">
        <%= image_tag "shema.png", alt: "logo" %>
      </div>
      <div>
        <h2><strong>Envoyer vos demandes de prix facilement avec l’outil de devis en ligne « EP CONNECT »</strong>.</h2>
      </div>
      <!-- <div class="info-society"> -->
        <h3>Sur chantier avec votre smartphone</h3>
        <h3>Au bureau avec votre PC</h3>
      <!-- </div> -->
    </div>
    <div class="video">
      <div>
        <video width="320" height="240" controls>
          <source src=”https://www.youtube.com/watch?v=r5AA-xDyfTE” type=video/ogg>
          <source src="https://www.youtube.com/watch?v=r5AA-xDyfTE" type=video/mp4>
        </video>
      </div>
    </div>
<!--     <h1><strong>Des partenaires à <font color="#2383FC">PROXIMITE</font> de vos chantiers, vous apportant <font color="#2383FC">REACTIVITE</font> et <font color="#2383FC">QUALITE</font>.</h1>
 -->   <!--  <div class="container logo">
      <div class="descri-home">
        <h2><i><strong>DEPANNAGE</strong></i></h2>
          <div>
            <p><I>"Il vous manque un produit sur chantier Vous êtes loin de votre dépôt, dans un autre département, une autre région."</I></p>
          </div>
      </div>
      <div class="descri-home">
        <h2><i><strong>STOCK</strong></i></h2>
          <div>
            <p><I>"Vous êtes dans votre dépôt, vous souhaitez refaire votre stock pour anticiper les chantiers à venir."</I></p>
          </div>
      </div>
      <div class="descri-home">
        <h2><i><strong>CHANTIER</strong></i></h2>
          <div>
            <p><I>"Vous avez un chantier à venir, vous souhaitez prévoir une livraison à votre dépôt ou sur chantier."</I></p>
          </div>
      </div>
    </div> -->

    <div class="py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><strong>Des partenaires à <font color="#2383FC">PROXIMITE</font> de vos chantiers, vous apportant <font color="#2383FC">REACTIVITE</font> et <font color="#2383FC">QUALITE</font>.</h2>
    <div class="row g-5 py-5">
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-briefcase"></i>
        </div>
        <h2><i><strong>DEPANNAGE</strong></i></h2>
              <p><I>"Il vous manque un produit sur chantier Vous êtes loin de votre dépôt, dans un autre département, une autre région."</I></p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-layer-group"></i>
        </div>
        <h2><i><strong>STOCK</strong></i></h2>
              <p><I>"Vous êtes dans votre dépôt, vous souhaitez refaire votre stock pour anticiper les chantiers à venir."</I></p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-hard-hat"></i>
        </div>
        <h2><i><strong>CHANTIER</strong></i></h2>
              <p><I>"Vous avez un chantier à venir, vous souhaitez prévoir une livraison à votre dépôt ou sur chantier."</I></p>
      </div>
    </div>
    </div>


    <div class="bandeau">
      <% @product_categories.each do |product_categories| %>
        <div class="presentation">
          <img src="<%= cl_image_path product_categories.photo.key %>" height="146" width="145">
        </div>
      <% end %>
    </div>
    <h2><strong>Faire Appel à nous c’est :</strong></h2>
    <div class="container">
      <ul>
        <div class="descri-home">
          <h3><i class="fas fa-angle-right"></i> Limiter les coûts de transport grâce nos partenaires de <font color="#2383FC"><strong>PROXIMITE</strong></font>.</h3>
        </div>
        <div class="descri-home">
          <h3><i class="fas fa-angle-right"></i> Optimiser le délai de fabrication et de livraison grâce à notre <font color="#2383FC"><strong>REACTIVITE</strong></font>.</h3>
        </div>
        <div class="descri-home">
          <h3><i class="fas fa-angle-right"></i> Répondre à vos demandes dans les meilleurs délais avec des produits de <font color="#2383FC"><strong>QUALITE</strong></font>.</h3>
        </div>
      </ul>
    </div>
    <div class="container-societe">
      <h2><strong>Nous garantissons des délais de fabrication et livraison rapide grâce à notre réseau de partenaire locaux, Régionaux et Nationaux</strong>.</h2>
    </div>
    <div class="container logo">
      <div id="image">
        <%= image_tag "carte.jpg", alt: "logo" %>
        <div>
          <p><strong>Des partenaires nationaux et locaux</strong></p>
        </div>
      </div>
      <div id="image">
        <%= image_tag "qualite.jpg", alt: "logo" %>
          <div>
            <p> <strong>Produit de qualité, respect des normes</strong></p>
          </div>
      </div>
      <div id="image">
        <%= image_tag "mesure", alt: "logo" %>
          <div>
            <p><strong>Fabrication sur mesure</strong></p>
          </div>
      </div>
    </div>
    <div class="bandeau">
      <% @product_categories.each do |product_categories| %>
        <div class="presentation">
          <img src="<%= cl_image_path product_categories.photo.key %>" height="146" width="145">
        </div>
      <% end %>
    </div>
    <h2 id="contact"><strong>Contact</strong></h2>
  </div>
</div>

  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5fd63f7bbb814e437b40f0ad" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>

