<div class="container">
  <div class="bannergallery">
      <div class= "title-gallery">
        <!-- <h1>Votre panier</h1> -->
      </div>
    </div>
    <div class="container">
      <h1>Votre panier</h1>
      <%= link_to "Demander mon devis", new_quote_path, class: "btn btn-success" %>
    </div>

  <div class="container-customer ">
    <% @cart_items.each do |cart_item| %>
      <div class="cart">
        <article class="product">
          <header>
            <a class="remove">
              <img src="<%= cl_image_path cart_item.product.photo.key %>" height="320" width="227">
            </a>
          </header>
          <div class="content">
            <h1><%= cart_item.product.name %></h1>
              <p>Quantité : <%= cart_item.quantity %></p>
              <p><%= cart_item.id %></p>
                <ul>
                <% if cart_item.product.number_of_customizable_dimensions == 1 %>
                  <li>Dimension A : <%= cart_item.dimensionA %> (mm) </li>

                <% elsif cart_item.product.number_of_customizable_dimensions == 2 %>
                  <li>Dimension A : <%= cart_item.dimensionA %> (mm) </li>
                  <li>Dimension B : <%= cart_item.dimensionB %> (mm) </li>

                <% elsif cart_item.product.number_of_customizable_dimensions == 3 %>
                  <li>Dimension A : <%= cart_item.dimensionA %> (mm) </li>
                  <li>Dimension B : <%= cart_item.dimensionB %> (mm) </li>
                  <li>Dimension C : <%= cart_item.dimensionC %> (mm) </li>

                <% elsif cart_item.product.number_of_customizable_dimensions == 4 %>
                  <li>Dimension A : <%= cart_item.dimensionA %> (mm) </li>
                  <li>Dimension B : <%= cart_item.dimensionB %> (mm) </li>
                  <li>Dimension C : <%= cart_item.dimensionC %> (mm) </li>
                  <li>Dimension D : <%= cart_item.dimensionD %> (mm) </li>

                <% elsif cart_item.product.number_of_customizable_dimensions == 5 %>
                  <li>Dimension A : <%= cart_item.dimensionA %> (mm) </li>
                  <li>Dimension B : <%= cart_item.dimensionB %> (mm) </li>
                  <li>Dimension C : <%= cart_item.dimensionC %> (mm) </li>
                  <li>Dimension D : <%= cart_item.dimensionD %> (mm) </li>
                  <li>Dimension E : <%= cart_item.dimensionE %> (mm) </li>
                <% else %>
                <% end %>
              </ul>
<!-- <div class="bin">
         <%= link_to cart_path, class: 'btn', data: {confirm: "Suprimmer le produit du panier?"}, method: :delete do %>
         <i class="far fa-trash-alt fa-2x"></i>
         <% end %>
       </div> -->
          </div>


        </article>
       </div>
    <% end %>
  </div>

</div>

