<div class="bannergallery">
  <div class= "title-gallery">
    <h1><%=@product.name%></h1>
    <h3>Personaliser votre produit</h3>
  </div>
</div>
<div class="container-show-1">
  <div class="text-center container-show">
    <div class="card-trip">
      <img style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @product.photo.key %>)" />
        <div class="card-trip-infos">
          <div>
            <h2><%=@product.name%></h2>
            <p><%=@product.description%></p>
          </div>
            <h2 class="card-trip-pricing"><%=@product.number_of_customizable_dimensions%></h2>
          <img src="https://m1.lmcdn.fr/media/1/5adaa4e07eb45f56900353d9/.jpg?width=650&height=650&format=jpg&quality=80&fit=bounds" class="card-trip-user avatar-bordered" />
        </div>
    </div>
  </div>
  <div class="container-show-form">
    <%= simple_form_for [@product, @cart_item] do |f| %>
    <form method="post" action="mail.php">
      <% if @product.number_of_customizable_dimensions == 1 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA, label: 'Dimension A :' %>
        </div>

      <% elsif @product.number_of_customizable_dimensions == 2 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA, label: 'Dimension A :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionB, label: 'Dimension B :' %>
        </div>

      <% elsif @product.number_of_customizable_dimensions == 3 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA, label: 'Dimension A :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionB, label: 'Dimension B :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionC, label: 'Dimension C :' %>
        </div>

      <% elsif @product.number_of_customizable_dimensions == 4 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA, label: 'Dimension A :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionB, label: 'Dimension B :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionC, label: 'Dimension C :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionD, label: 'Dimension D :' %>
        </div>

      <% elsif @product.number_of_customizable_dimensions == 5 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA, label: 'Dimension A :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionB, label: 'Dimension B :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionC, label: 'Dimension C :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionD, label: 'Dimension D :' %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionE, label: 'Dimension E :' %>
        </div>
      <% else %>
      <% end %>
    <div class="form-group">
      <%= f.input :quantity %>
    </div>

    <div class="form-group">
      <%= f.input :comment %>
    </div>
    <div class="form-group btn btn-success">
      <%= f.button :submit %>
    </div>
    </form>
    <% end %>
  </div>
</div>
<!--   <%= simple_form_for [@product, @cart_item] do |f| %>
    <div class="form-group">
    <%= f.input :dimensionA %>
    </div>
    <div class="form-group">
      <%= f.input :dimensionB %>
    </div>
    <div class="form-group">
      <%= f.input :dimensionC %>
    </div>
    <div class="form-group">
      <%= f.input :dimensionD %>
    </div>
    <div class="form-group">
      <%= f.input :dimensionE %>
    </div>
    <div class="form-group">
      <%= f.input :quantity %>
    </div>
    <div class="form-group">
      <%= f.input :comment %>
    </div>
    <div class="form-group">
      <%= f.button :submit %>
    </div>
  <% end %> -->

<!-- <div class="container-show-form">
    <%= simple_form_for [@product, @cart_item] do |f| %>
    <form method="post" action="mail.php">
      <% if @product.number_of_customizable_dimensions == 1 %>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte A :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="6 cm">
        </div>

      <% elsif @product.number_of_customizable_dimensions == 2 %>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte A :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="6 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte B :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="8 cm">
        </div>

      <% elsif @product.number_of_customizable_dimensions == 3 %>
        <div class="form-group" placeholder="8 cm">
          <%= f.input :dimensionA %>
        </div>
        <div class="form-group">
          <%= f.input :dimensionB %>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="8 cm">
        </div>
        <div class="form-group">
          <%= f.input :dimensionC %>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="9 cm">
        </div>

      <% elsif @product.number_of_customizable_dimensions == 4 %>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte A :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="6 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte B :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="8 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte C :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="9 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte D :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="15 cm">
        </div>

        <% elsif @product.number_of_customizable_dimensions == 5 %>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte A :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="6 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte B :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="8 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte C :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="9 cm">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dimension côte D :</label>
          <input type="dimensions" class="form-control" id="exampleFormControlInput1" placeholder="15 cm">
        </div>
      <% else %>
      <% end %>
    <div class="form-group">
      <label for="quantity">Quantité :</label>
      <input type="number" id="quantity" name="quantity" min="1" max="500">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Commentaires :</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Valider</button>
    </div>
    </form>
    <% end %>
  </div>
</div>



 -->
